*~
*_translate.v
vxml
vxmlmain
*.cmi
*.cmo
*.tcl
*.txt
*.mr
*.vvp
*.vcs
fm_shell_command*.log
obj_dir
.nodeIdDynamicRanges
DVEfiles/
default.svf
*.pvk
formality.log
logfile
junk.mli
testbench.fst
testbench.vcd
trans.vvp
mixed.vvp
mixed.vcs
picorv32_wrapper_mixed.v
